<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>タスク登録</title>
</head>
<body>
    <h1 th:if="${taskForm.id == null}">タスク登録画面</h1>
    <h1 th:if="${taskForm.id != null}">タスク編集画面</h1>
    
    <form th:action="@{${taskForm.id == null} ? 'create' : 'update'}" 
          th:object="${taskForm}" method="post">
    <div> 
        <label for="title">タイトル：</label>
        <input type="text" th:field="*{title}" id="title" placeholder="タイトルを入力" />
    </div>
    <div>
        <label for="description">内容：</label>
        <textarea th:field="*{description}" id="description" rows="5" cols="40" placeholder="内容を入力"></textarea>
    </div>
    <div>
        <label for="dueDate">期限：</label>
        <input type="date" th:field="*{dueDate}" id="dueDate" />
    </div>
    <div>
        <button type="submit" th:text="${taskForm.id == null} ? '登録' : '更新'">登録</button>
    </div>
    </form>
</body>
</html>