<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WorkMate チャット</title>
    <link rel="stylesheet" th:href="@{/css/chat.css}">

</head>
<body>
    
    <h2 style="text-align: center;">チャットbot</h2>
    <div class="center"> <a th:href="@{/dashboard}">メニューに戻る</a></div>
    <div class="chat-container" id="chatContainer">
        <div class="messages" id="messages">    
            <div class="message" th:each="msg : ${message}"  th:classappend="${msg.senderType.name().toLowerCase()}">
                <span th:utext="${msg.messageText}"></span>
                <div class="footer"  th:text="${#temporals.format(msg.createdAt, 'MM/dd HH:mm')}"></div>
            </div>
        </div>
    

        <form class="form" method="post" action="/chat">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="text" id="messageIntput" name="message" placeholder="メッセージを入力" required>
            <button type="submit" id="sendButton">送信</button>
        </form>
    </div>

    <script>
        function scrollToBottom() {
            const container = document.getElementById("messages");
            container.scrollTop = container.scrollHeight;
        }

        // ページ読み込み時に一番下へスクロール
        window.onload = scrollToBottom;

    </script>
</body>
</html>
