body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.chat-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: E5DDD5;
}

.messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 8px;
}

.message {
    max-width: 60%;
    padding: 10px 14px;
    border-radius: 16px;
    position: relative;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

.message.user {
    background-color: #DCF8C6;
    align-self: flex-end;
    margin-left: auto;
}

.message.user::after {
    content: "";
    position: absolute;
    right: -16px;
    top: 12px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #DCF8C6;
}

.message.bot {
    background-color: #FFFFFF;
    align-self: flex-start;
}

.message.bot::after {
    content: "";
    position: absolute;
    left: -16px;
    top: 14px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #FFFFFF transparent transparent;
}
.message.user .footer {
/*    display: flex;*/
/*    justify-content: flex-end;*/
	position: absolute;
    bottom: 0;
    left: -50px;
    font-size: 10px;
    color: #666;
    margin-top: 10px; 
}

.message.bot .footer {
    position: absolute;
    bottom: 0;
    right: -50px;
    font-size: 10px;
    color: #666;
    margin-top: 10px;
}


.form {
    display: flex;
    gap: 8px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
}

.form input[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form button {
    padding: 8px 14px;
    background-color: #4CAF50;
    border:none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

.form button:hover {
    opacity: 0.9;
}

a {
    text-decoration:none;
}

div.center {
    text-align: center;
}