<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>メニュー画面</title>
    <link rel="stylesheet" th:href="@{css/menu.css}">
</head>
<body>
    <h1>ようこそ！<span th:text="${user.userName}"></span>さん！</h1>

    <p>ログイン中のメールアドレス：<span th:text="${user.mail}">email@gmail.com</span></p>

    <a th:href="@{/tasks/tasklist}">タスク管理ページ</a>
    <a th:href="@{/userinfo}">ユーザー情報</a>
    <a th:href="@{/calendar}">カレンダーで表示</a>
    <a th:href="@{/chat}">チャットbotページ</a>
    <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">ログアウト</button>
    </form>
</body>
</html>