<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ログイン画面</title>
    <link rel="stylesheet" th:href="@{css/menu.css}">
</head>
<body>
    <h2>ログイン</h2>
    <form th:action="@{/login}" method="post">
        <table>
            <tr>
                <th>ログインID：</th>
                <td><input type="text" name="loginId" placeholder="ログインID" required /></td>
            </tr>
            <tr>
                <th>パスワード：</th>
                <td><input type="password" name="password" placeholder="パスワード" required /></td>
            </tr>
        </table>
        
        <div th:if="${param.error}" style="color:red;">
            ログインIDまたはパスワードが違います
        </div>

        <button type="submit">ログイン</button>
        <a th:href="@{/home}">ホームに戻る</a>
    </form>
</body>
</html>