<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>タスク管理</title>
</head>
<body>
    <h1>タスク一覧</h1>
    <table border="1">
        <tr>
            <th>タイトル</th>
            <th>内容</th>
            <th>締め切り</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.dueDate}"></td>
        </tr>
    </table>
    <a th:href="@{/tasks/new}">タスクを登録</a>
    <a th:href="@{/tasks/edit/{id}}">タスクを編集</a>
    <a th:href="@{/tasks/delete/{id}}">タスクを削除</a>
</body>
</html>